

table.pvt-table-bt{font-family:arial;font-size:10pt;text-align:left;border-collapse:collapse}
table.pvt-table-bt tr th,table.pvt-table-bt tr th{background-color:#e6EEEE;border:1px solid #CDCDCD;font-size:10pt;padding:5px}
table.pvt-table-bt .pvt-col-label-bt{text-align:center}
table.pvt-table-bt .pvt-total-label-bt{text-align:right}
table.pvt-table-bt tr td{color:#3D3D3D;padding:5px;font-size:10pt;background-color:#FFF;border:1px solid #CDCDCD;vertical-align:top;text-align:right}
.pvt-ui-table-bt .navbar{margin-bottom:0px}
.pvt-total-bt,.pvt-grand-total-bt{font-weight:bold}
.pvt-axis-container-bt{border:1px solid #ccc;background:whitesmoke;padding:5px;min-width:20px;min-height:20px}
.pvt-axis-container-bt li{margin:3px;padding-left:10px;list-style-type:none;cursor:move}.pvt-axis-container-bt li input[type=checkbox]{margin-top:0px;margin-right:5px;line-height:20px}
.dropdown-menu .btn{margin-right:10px}
#rows .btn-group{display:block;margin-left:10px;margin-top:10px}
#vals select{width:120px}
table.pvt-table-bt tr td.pvtVal-em{font-weight:bold}
table.pvt-table-bt tr th.pvtVal-cross{background:skyblue}

table.pvt-table-ju{font-family:arial;font-size:8pt;text-align:left;border-collapse:collapse}
table.pvt-table-ju tr th,table.pvt-table-ju tr th{background-color:#e6EEEE;border:1px solid #CDCDCD;font-size:8pt;padding:5px}
table.pvt-table-ju .pvt-col-label-ju{text-align:center}
table.pvt-table-ju .pvt-total-label-ju{text-align:right}
table.pvt-table-ju tr td{color:#3D3D3D;padding:5px;background-color:#FFF;border:1px solid #CDCDCD;vertical-align:top;text-align:right}
.pvt-total-ju,.pvt-grand-total-ju{font-weight:bold}
.pvt-axis-container-ju{border:1px solid gray;background:#EEE;padding:5px;min-width:20px;min-height:20px}
.pvt-axis-container-ju li{margin:5px;padding:5px;list-style-type:none;cursor:move}
.pvt-horiz-list-ju li{display:inline}
table.pvt-table-ju tr td.pvtVal-em{font-weight:bold}
table.pvt-table-ju tr th.pvtVal-cross{background:skyblue}
